:root {
	--main-background-color: #f9f3e4;
	--secondary-background-color: #f5f3ec;
	--main-text-color: #313438;
	--button-bg-color: #0042e4;
	--button-text-color: #fff;
	--border-color: #313438;
	--font-family-accent: 'Playfair Display', serif;
	--font-family-base: 'Inter', sans-serif;
}
